<nav class="navbar">
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li routerLinkActive="active"><a class="nav-link" routerLink="accueil">Accueil</a></li>
            <li routerLinkActive="active"><a class="nav-link" routerLink="liste">Liste des Faqs</a></li>
            <li routerLinkActive="active"><a class="nav-link" routerLink="newQestion">Ajouter une question</a></li>
            <li routerLinkActive="active"><a class="nav-link" routerLink="signUp">S'inscrire</a></li>
            <li routerLinkActive="active"><a class="nav-link" routerLink="signIn">Connexion</a></li>
        </ul>
    </div>
</nav>
